In [1]:
import pandas as pd
import numpy as np

In [6]:
tw_df = pd.read_csv('../data/3-preprocessed_tweets.csv')
tw_df.drop(columns='Unnamed: 0',inplace=True)
tw_df['timestamp'] = pd.to_datetime(tw_df['timestamp'])
tw_df.head()

                  timestamp                                               text
0 2016-01-01 00:00:04+00:00  Current price 43105 BTCUSD btc bitcoin 2015123...
1 2016-01-01 00:00:05+00:00  Current price 39605 € BTCEUR btc bitcoin 20160...
2 2016-01-01 00:00:05+00:00  Current price 29177 £ BTCGBP btc bitcoin 20160...
3 2016-01-01 00:00:53+00:00  RDD BTC exchange Cryptsy 00000000 4 Bittrex 00...
4 2016-01-01 00:02:32+00:00  RDD BTC exchange Cryptsy 00000000 4 Bittrex 00...

In [7]:
tw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702027 entries, 0 to 702026
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  702027 non-null  datetime64[ns, UTC]
 1   text       702027 non-null  object
dtypes: datetime64[ns, UTC](1), object(1)
memory usage: 10.7+ MB

In [23]:
#creating volume of tweet features
tw_vol_d = pd.DataFrame(tw_df.resample('D', on='timestamp').text.count())
tw_vol_d.rename(columns={'text':'tweet_volume'})
print(f'There are {tw_vol_d.shape[0]} rows for tweet volume datetime index')
tw_vol_d.head()

There are 730 rows for tweet volume datetime index

                           text
timestamp
2016-01-01 00:00:00+00:00   662
2016-01-02 00:00:00+00:00   619
2016-01-03 00:00:00+00:00   443
2016-01-04 00:00:00+00:00   480
2016-01-05 00:00:00+00:00   448

In [24]:
tw_vol_d.to_csv('../data/5-tweets-volume-day.csv')

In [20]:
tw_vol_h = pd.DataFrame(tw_df.resample('H', on='timestamp').text.count())
tw_vol_h.rename(columns={'text':'tweet_volume'})
print(f'There are {tw_vol_h.shape[0]} rows for tweet volume datetime index')
tw_vol_h.head()

There are 17520 rows for tweet volume datetime index

                           text
timestamp
2016-01-01 00:00:00+00:00    12
2016-01-01 01:00:00+00:00    20
2016-01-01 02:00:00+00:00    18
2016-01-01 03:00:00+00:00    22
2016-01-01 04:00:00+00:00    26

In [21]:
tw_vol_h.to_csv('../data/5-tweets-volume-hour.csv')