In [42]:
import pandas as pd
import numpy as np

In [43]:
btc = pd.read_csv('../data/1-bitcoin_data.csv')
tw_d = pd.read_csv('../data/6-final-tweet-day.csv')
tw_h = pd.read_csv('../data/6-final-tweet-hour.csv')
data = [btc,tw_d,tw_h]
for item in data:
    item.drop(columns='Unnamed: 0',inplace=True)
    item['timestamp'] = pd.to_datetime(item['timestamp'])

In [48]:
tw_d['timestamp'] = pd.to_datetime(tw_d['timestamp']).dt.tz_localize(None)
tw_h['timestamp'] = pd.to_datetime(tw_h['timestamp']).dt.tz_localize(None)

In [61]:
#concatinate btc prices and tweets on timestamp
df_d = tw_d.merge(btc, how="left", on="timestamp")
df_h = tw_h.merge(btc, how="left", on="timestamp")
df_d.dropna(axis=0, subset=['Close'],inplace=True)
df_h.dropna(axis=0, subset=['Close'],inplace=True)
df_d.to_csv('../data/7-final-data-day.csv')
df_h.to_csv('../data/7-final-data-hour.csv')
df_h.head()

,timestamp,subjectivity,compound,pos_pol,neg_pol,neu_pol,text,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2016-01-01 00:00:00,0.014286,0.448043,0.168571,0.0000,0.831429,12,423.52,423.52,423.51,423.51,1.159208,490.946953,423.519330
1,2016-01-01 01:00:00,0.166667,0.440400,0.173000,0.0000,0.827000,20,431.05,431.59,430.25,430.25,22.282782,9607.642275,431.168894
2,2016-01-01 02:00:00,0.000000,0.404300,0.164125,0.0000,0.835875,18,430.94,430.94,430.27,430.88,2.530808,1089.551791,430.515338
3,2016-01-01 03:00:00,0.101667,0.378900,0.161750,0.0175,0.820750,22,430.91,430.91,430.90,430.90,0.873573,376.430192,430.908531
4,2016-01-01 04:00:00,0.213333,0.359011,0.156667,0.0210,0.822333,26,430.01,430.01,430.01,430.01,0.223270,96.008427,430.010000

In [62]:
df_d.head()

,timestamp,subjectivity,compound,pos_pol,neg_pol,neu_pol,text,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2016-01-01,0.268975,0.301230,0.152325,0.036704,0.811015,662,423.52,423.52,423.51,423.51,1.159208,490.946953,423.519330
1,2016-01-02,0.301871,0.388479,0.173094,0.014299,0.812633,619,431.70,433.44,431.70,433.44,15.703212,6795.238725,432.729225
2,2016-01-03,0.369974,0.428669,0.186620,0.005385,0.808005,443,432.04,432.04,432.04,432.04,0.056872,24.570776,432.040000
3,2016-01-04,0.364042,0.393258,0.179719,0.009154,0.811140,480,427.50,428.08,427.40,428.08,22.577334,9653.994770,427.596751
4,2016-01-05,0.431407,0.399047,0.185405,0.008220,0.806382,448,434.22,434.22,434.22,434.22,0.025125,10.909995,434.220000

In [63]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 682 entries, 0 to 729
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   timestamp          682 non-null    datetime64[ns]
 1   subjectivity       682 non-null    float64
 2   compound           682 non-null    float64
 3   pos_pol            682 non-null    float64
 4   neg_pol            682 non-null    float64
 5   neu_pol            682 non-null    float64
 6   text               682 non-null    int64
 7   Open               682 non-null    float64
 8   High               682 non-null    float64
 9   Low                682 non-null    float64
 10  Close              682 non-null    float64
 11  Volume_(BTC)       682 non-null    float64
 12  Volume_(Currency)  682 non-null    float64
 13  Weighted_Price     682 non-null    float64
dtypes: datetime64[ns](1), float64(12), int64(1)
memory usage: 79.9 KB

In [68]:
df_h.shape

(14505, 14)

In [70]:
df_h.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14505 entries, 0 to 17519
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   timestamp          14505 non-null  datetime64[ns]
 1   subjectivity       13318 non-null  float64
 2   compound           13318 non-null  float64
 3   pos_pol            13318 non-null  float64
 4   neg_pol            13318 non-null  float64
 5   neu_pol            13318 non-null  float64
 6   text               14505 non-null  int64
 7   Open               14505 non-null  float64
 8   High               14505 non-null  float64
 9   Low                14505 non-null  float64
 10  Close              14505 non-null  float64
 11  Volume_(BTC)       14505 non-null  float64
 12  Volume_(Currency)  14505 non-null  float64
 13  Weighted_Price     14505 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(1)
memory usage: 1.7 MB

In [71]:
df_h.head()

,timestamp,subjectivity,compound,pos_pol,neg_pol,neu_pol,text,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2016-01-01 00:00:00,0.014286,0.448043,0.168571,0.0000,0.831429,12,423.52,423.52,423.51,423.51,1.159208,490.946953,423.519330
1,2016-01-01 01:00:00,0.166667,0.440400,0.173000,0.0000,0.827000,20,431.05,431.59,430.25,430.25,22.282782,9607.642275,431.168894
2,2016-01-01 02:00:00,0.000000,0.404300,0.164125,0.0000,0.835875,18,430.94,430.94,430.27,430.88,2.530808,1089.551791,430.515338
3,2016-01-01 03:00:00,0.101667,0.378900,0.161750,0.0175,0.820750,22,430.91,430.91,430.90,430.90,0.873573,376.430192,430.908531
4,2016-01-01 04:00:00,0.213333,0.359011,0.156667,0.0210,0.822333,26,430.01,430.01,430.01,430.01,0.223270,96.008427,430.010000

In [72]:
df_h.isnull().sum() #probably during those hours we have only neutral polarity, impute positive pol,neg,compoubd as 0 and neu, neu_pol as 1

timestamp               0
subjectivity         1187
compound             1187
pos_pol              1187
neg_pol              1187
neu_pol              1187
text                    0
Open                    0
High                    0
Low                     0
Close                   0
Volume_(BTC)            0
Volume_(Currency)       0
Weighted_Price          0
dtype: int64

In [ ]:
df_h['pos_pol'].fillna(0,inplace=True)
df_h['neg_pol'].fillna(0,inplace=True)
df_h['neu_pol'].fillna(1,inplace=True)
df_h['compound'].fillna(0,inplace=True)
df_h['text'].fillna(0,inplace=True)